
.dialog_export{
    background: #444;
    color: #fff;
    padding: 4px 4px 16px 4px;
    text-align: center;
    z-index: 1002;

    position:absolute;
    top:0%;
    left:0%;
    width:50%;
    height:50%;
    margin-left:25%;
    margin-top:12.5%;

    display: grid;
    gap: 4px; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content;
    
}

.group_properties_export{
    display: grid;
    grid-template-columns: 1fr;
    position: relative;
    gap: 4px; 

    grid-template-rows: max-content 1fr;

    overflow-y: scroll;
    
    margin: 0px;
    padding: 0px;
}

.group_properties_export_buttons{
    margin: 0px;
    padding: 0px;
    height:32px;
    width: 100%;
    overflow-y: none;

    display: grid;
    gap: 4px; 
    grid-template-columns: auto;
    grid-template-rows: auto;
}

.button_dialog_export{
    grid-row: 1;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#button_dialog_export_page_1_cancel {
    grid-column: 1;
}

#button_dialog_export_page_1_skip {
    grid-column: 2;
}

#button_dialog_export_page_1_next {
    grid-column: 3;
}

#button_dialog_export_page_1_cancel {
    grid-column: 1;
    grid-row: 1;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#button_dialog_export_export {
    grid-column: 1;
    grid-row: 1;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#button_dialog_export_cancel {
    grid-column: 2;
    grid-row: 1;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}



.dialog_load_field{
    background: #444;
    color: #fff;
    padding: 4px 4px 16px 4px;
    text-align: center;
    z-index: 1002;

    position:absolute;
    top:0%;
    left:0%;
    width:50%;
    height:50%;
    margin-left:25%;
    margin-top:12.5%;

    display: grid;
    gap: 4px; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto; 
}

#group_properties_load{

    overflow-y: scroll;
    
    margin: 0px;
    padding: 0px;
}

#group_properties_load_buttons{

    margin: 0px;
    padding: 0px;
    height: 32px;
    width: 100%;
    overflow-y: none;

    display: grid;
    gap: 4px; 
    grid-template-columns: auto;
    grid-template-rows: auto;
}

#button_dialog_load_cancel {
    grid-column: 1;
    grid-row: 1;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.fieldset_load_example{
    display: grid;
    gap: 4px; 
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

/* Change background color of buttons on hover */

.fieldset_load_example:hover {
    background-color: rgb(155, 155, 155);
}

.warning{
    background-color: rgb(230, 230, 230);
    border: 3px solid rgb(255, 0, 0);
    padding: 0px 8px 8px 8px;
    margin-bottom: 2px;
}

.warning_text{
    color: rgb(255, 0, 0);
    text-align: justify;
}

.warning_li{
    color: rgb(255, 0, 0);
    text-align: left;
}

.warning_title{
    color: rgb(255, 0, 0);
}