input{
    font-family: Arial, sans-serif;
}

label{
    font-family: Arial, sans-serif;
}

legend{
    font-family: Arial, sans-serif;
}

span{
    font-family: Arial, sans-serif;
}

a{
    font-family: Arial, sans-serif;
}

p{
    font-family: Arial, sans-serif;
}

li{
    font-family: Arial, sans-serif;
}