.vec4_grid {
    display: grid;
    gap: 4px;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  minmax(0, 1fr);
    grid-template-areas: "a b c d";
}

.vec4_grid .x {
    grid-column: 1;
    grid-row: 1;
    margin: 0;
}

.vec4_grid .y {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
}

.vec4_grid .z {
    grid-column: 3;
    grid-row: 1;
    margin: 0;
}

.vec4_grid .w {
    grid-column: 4;
    grid-row: 1;
    margin: 0;
}
