body {
    text-align: center;
}

canvas {
    display: block;
    width: 1280px;
    height: 720px;
    margin: auto;
    padding: 0;
    border: none;
    background-color: black;
}

button {
    width: 100%;
    display: block;
    font-size: inherit;
    margin: auto;
    padding: 0.2em;
}

input {
    border:1px solid rgb(118, 118, 118);
}

.input_readonly {
    background: rgb(242, 242, 242);
    border:1px solid rgb(118, 118, 118);
}

.container {
    display: flex;
}

.column {
    flex: 1;
    /*for demo purposes only */
    background: #f2f2f2;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
}

.column-one {
    order: 1;
    position: relative;
}

.column-two {
    order: 2;
}

fieldset {
    display: grid;
    grid-template-columns: 200px 1fr;
    gap: 4px;
}

#fieldset_seeds {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
}

#myProgress {
    width: 100%;
    background-color: grey;
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}

.horizontal_div_3 {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4px;
    gap: 4px;
}

.horizontal_div_2 {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4px;
    gap: 4px;
}

.horizontal_div_seed {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 4px;
    gap: 4px;
}

.horizontal_div_3 input {
    min-width: 75px;
}

.horizontal_div_seed input {
    min-width: 75px;
}

.horizontal_div_seed button {
    min-width: 32px;
}

#fps_display {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: bold;
    left: 16px;
    top: 0px;
}

#message_display {
    z-index: 100;
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: bold;
    left: 0px;
    top: 0px;
    text-align: center;
    width: 100%
}

#image_thumbnail {
    display: none;
}

/* Style the tab */

.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    display: flex;
}

/* Style the buttons that are used to open the tab content */

.tab button {
    float: left;
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.hidden {
    display: none;
}

.list_entry {
    text-align: left;
}